<div id="carsContainer" class="mt-5 container">
  <div id="CarItems" class="row alert d-flex justify-content-center" >
    <div class="card divCarItem col-xs-12 col-md-6 col-lg-4 mr-5 mb-5 " *ngFor="let car of cars">
      <!-- <div>
                  <h4 class="card-title m-3">` + item.name + `</h4>
                  <input type="text" class="rating rating-loading" value="` + item.rate + `" data-size="xs" title="">
          </div> -->
      <!--                <div class="stadt brandon smaller m-2">
                    <a rel="nofollow" href="https://www.diefruehstueckerinnen.at/stadt/wien/5" class="city-link">
                    <img src="img/location.png" alt="location">Wien, ` + item.district + ` Bezirk</a>
                </div> -->
      <div class="divCarsImg">
        <img class="card-img-bottom carImg" src="{{car.img}}" alt="Card image cap">
        <div class="carDetail p-2 bg-light text-dark">
          <div>
            Model: {{car.model}}
          </div>
          <div>
          Price: {{car.price}}
          </div>
          <div>
           Color: {{car.color}}
          </div>
          <div>
            Type: {{car.type}}
          </div>
          <div>
           Count of sit: {{car.passenger}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
