.divResItem {
  text-align: left !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important; }
  @media screen and (min-width: 700px) {
    .divResItem {
      max-width: 22% !important;
      max-height: 400px !important; } }
.stadt {
  display: inline-block;
  padding: 0 8px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 70% !important; }
.DivresImg {
  position: relative;
  bottom: 0 !important; }

.resImg {
  display: block;
  width: 100%;
  height: auto; }
  .resImg {
  display: block;
  width: 100%;
  height: auto; }
.DivresImg {
  position: relative;
  bottom: 0 !important; }
.text {
  color: white;
  font-size: calc(100vw / 80);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left !important; }
  .middle:hover {
  opacity: 1; }
.middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008CBA; }